body {
	background: #525252 !important;
}

.navbar {
	background: #414141 !important;
	border-bottom-color: #ec625f !important;
}

.nav-link {
	color: #eee !important;
}

.active .nav-link {
	color: #ec625f !important;
}

.bg-light, .bg-light > a {
	color: #fff !important;
}

.navbar-light .navbar-toggler {
	color: lightblue !important;
	border-color: lightblue !important;
}

.sub-judul {
	color: #ddd;
}

.card {
	background: #414141;
	color:  #eee;
	box-shadow: 0 0 1px rgba(200,200,200,.125),0 1px 3px rgba(200,200,200,.2)
}

.text-dark p {
	color: #eee !important;
}

.form-control {
	background: #333;
	color: #fff;
}

.form-control:focus {
	background: #444;
	color: #fff;
}

.info {
	color: #eee;
}

.btn i {
	color: lightblue !important;
}

small {
	color: #eee !important;
}

h3 {
	color: #eee;
}

.btn-dark {
	background: #fff;
	color: #343a40 !important;
}
