* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	background-color: #FFDEDE;
}

.navbar {
	border-bottom: 2px solid #A90909;
	position: sticky;
	top: 0;
	box-shadow: 5px 0 10px rgba(0,0,0,.4);
}

*::-webkit-scrollbar {
	display: none;
}

.kartu {
	width: 200px;
	height: 300px;
	overflow: auto;
	border-radius: 0 20px 20px 0;
	background: #333;
	color: #fff;
	overflow-x: hidden;
	margin: 10px;
	border-left: 5px solid black;
	box-shadow: -3px 3px 3px rgba(0,0,0,.6);
	display: inline-block;
	margin-bottom: 0px;
}

.kartu img {
	width: 100%;
}

.kartu div {
	margin: 5px;
	white-space: normal;
}

.pembungkus-kartu {
	width: 100%;
	height: 320px;
	overflow-x: scroll;
	white-space: nowrap;
	justify-content: space-around;
	border-bottom: 2px solid #A90909;
}

.sub-judul {
	border-left: 5px solid lightblue;
}

.nav-link {
	cursor: pointer;
}

.kolom-cari {
	border-radius: 24px 0 0 24px;
	transition: 0.25s;
}

.active .nav-link {
	color: #A90909 !important;
}

.kolom-cari:focus {
	border: 2px solid #FFFFBA;
}

.tombol-cari {
	border-radius: 0 24px 24px 0;
}

.detail {
	display: flex;
	flex-wrap: wrap;
}co

.sampul {
	width: 50%;
	margin: 10px;
}

@media (max-width: 1000px) {
	.sampul {
		width: 100%;
		max-width: 300px;
		margin: 20px auto;
	}
}

@media (max-width: 500px) {
	.kartu {
		height: 150px;
		border-radius: 0 10px 10px 0;
		width: 100px;
	}

	.pembungkus-kartu {
		height: 170px;
	}
}
