.judul-halaman {
	border-bottom: 1px solid #dee2e6;
}

.sampul-detail {
	width: 100%;
	max-width: 500px;
	margin: auto;
	display: flex;
}

.table-detail {
	width: 100%;
}

.container {
	padding-bottom: 100px;
}

.bg-wa {
	background-color: lightgreen;
}